@media (max-width: 400px) {
	.card {
		margin-right: 0;
	}
}

* {
	box-sizing: border-box;
}


body {
	font-family: 'Nunito Sans', sans-serif;
}

h2 span {
	display: block;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 24px;
}

.sidebar {
	text-align: center;
	width: 33%;
	border-right: 1px solid #DDE2E5;
	float: left;
}

.main-content {
	width: 67%;
	float: left;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	margin: 24px 0 16px 0;
	letter-spacing: 2px;
	font-weight: 500;
	color: #626466;
}

h2 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	color: #7B7D7F;
}

h3 {
	font-weight: 400;
	margin: 0;
	margin:-bottom: 16px;
	line-height: 1.4;
	color: #929292;
	font-size: 16px;

}

.social-icons i {
	margin: 10px;
}

.social-icons a {
	color: #4A4A4A;
	text-decoration: none;
	transition: #FF586C 200ms ease;
}

.nav ul {
	list-style-type: none;
	padding: 0;
	margin: 64px 0;
	font-size: 14px;
}

.nav a {
	text-decoration: none;
	color: #A0A3A6;
}

.nav li {
	margin: 0 0 24px 0;
}

a:hover, a.active {
	color: #FF586C;
}

.card {
	float: left;
	width: 49%;
	padding: 16px;
	position: relative;
	margin-bottom: 8px;
}
.card:nth-child(odd) {
	width: calc(49%-16px);
}

.card img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.card-content {
	background: #EFEFEF;
	padding: 16px;
	position: relative;
}

.byline {
	color: #b3b3b3;
	font-size: 12px;
	margin-bottom: 32px;
}

.share-button {
	position: absolute;
	bottom: 8px;
	right: 16px;
	color: #696969;
}

.share-button:hover {
	color: #FF586C;
	cursor: pointer;
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: black;
	opacity: 0;
	transition: opacity 300ms ease;
}

.card:hover .overlay {
	opacity: 0.5;
}

button {
	border-radius: 50%;
	border: 2px solid #FF586C;
	width: 100px;
	height: 100px;
	color: #FF586C;
	text-align: center;
	text-decoration: none;
	background: white;
	font-size: 16px;
	display: block;
	margin: 0 auto;
}

button:hover {
	background: #FF586C;
	color: white;
}

.clearfix {
	clear: both;
}

