
body {
	font-family: 'Nunito Sans', sans-serif;
}

h2 span {
	display: block;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 24px;
}

.sidebar {
	text-align: center;
	width: 33%;
	border-right: 1px solid #DDE2E5;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	margin: 24px 0 16px 0;
	letter-spacing: 2px;
	font-weight: 500;
	color: #626466;
}

h2 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	color: #7B7D7F;
}

.social-icons i {
	margin: 10px;
}

.social-icons a {
	color: #4A4A4A;
	text-decoration: none;
	transition: red 200ms ease;
}

.nav ul {
	list-style-type: none;
	padding: 0;
	margin: 64px 0;
	font-size: 14px;
}

.nav a {
	text-decoration: none;
	color: #A0A3A6;
}

.nav li {
	margin: 0 0 24px 0;
}

a:hover, a.active {
	color: red;
}


.main-content {
	width: 50%;
	max-width: 50px;
	display: inline-block;
}
