
body {
	font-family: 'Nunito Sans', sans-serif;
}

h2 span {
	display: block;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 24px;
}

.sidebar {
	text-align: center;
	width: 33%;

}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	margin: 12px 0;

}

h2 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
}

.nav ul {
	list-style-type: none;
	padding: 0;
	margin: 96px 0;
	font-size: 14px;

}

.nav a {
	text-decoration: none;
	color: black;
}

.nav li {
	margin: 0 0 24px 0;
}

a:hover {
	color: red;
}
